source $DOTFILES/functions/base_funcs
source ~/.config/exports
source ~/.config/aliases

{{ "" -}}
{{if lookPath "fuck" -}}
# Config for thefuck
eval $(thefuck --alias)
{{- end }}

{{if lookPath "zoxide" -}}
# zoxide
eval "$(zoxide init bash)"
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
{{      if lookPath "brew" -}}
# Homebrew PATH Modifications
addpath $HOME/Homebrew/bin/
addpath $HOME/Homebrew/sbin/
{{-     end }}

# iterm2 Shell Integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

{{     if lookPath "asdf" -}}
# asdf-vm init
source $(brew --prefix asdf)/libexec/asdf.sh

{{         if lookPath "java" -}}
function java_asdf_link() {
    macOS_java_dir=/Library/Java/JavaVirtualMachines
    asdf_java_dir=$HOME/.asdf/installs/java/
    echo To create links on $macOS_java_dir this script needs Super User powers.

    if [ -d $asdf_java_dir ]; then
        installs=( $(find $asdf_java_dir -type d -depth 1 -print) )
        for install in ${installs[*]}; do
            found=$(find $install -name bin -print)
            if [ ! -z $found ]; then
                destination=$(dirname $found)
                source=${destination##*/}
                sudo ln -sf "$destination" "$macOS_java_dir/$source"
            fi
        done
    fi
}
{{-         end }}
{{-     end }}

{{     if stat (joinPath .chezmoi.homeDir "Library/Caches/ms-playwright") -}}
# Codesign Playwright Chromium for issue https://github.com/microsoft/playwright/issues/7937
function signPW() {
    cd $HOME/Library/Caches/ms-playwright/
    # codesign for chromium in Macos
    for d in chromium-*; do
        echo Sign $HOME/Library/Caches/ms-playwright/${d}/chrome-mac/Chromium.app
        sudo codesign --force --deep --sign - ./${d}/chrome-mac/Chromium.app
    done
    cd -
}
{{-     end }}

{{     if lookPath "gsed" -}}
# Use gsed instead of built-in
addpath -f /usr/local/opt/gnu-sed/libexec/gnubin
{{-     end }}

{{- end }}