source $DOTFILES/functions/base_funcs
source ~/.config/exports
source ~/.config/aliases

{{if lookPath "fuck" -}}
# Config for thefuck
eval $(thefuck --alias)
{{- end }}

{{if lookPath "zoxide" -}}
# zoxide
eval "$(zoxide init bash)"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{-     if lookPath "brew" -}}
# PATH Modifications
addpath $HOME/Homebrew/bin/
addpath $HOME/Homebrew/sbin/

# brew aliases
alias brewup='brew update && brew upgrade && brew cu && brew cleanup'
## See brew dependencies as explained here: https://stackoverflow.com/questions/41029842/easy-way-to-have-homebrew-list-all-package-dependencies
alias brewdep='brew deps --tree --installed'
alias brewlf='brew deps --include-build --tree $(brew leaves)'
{{-     end }}

# iterm2 Shell Integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

{{-     if lookPath "asdf" -}}
# asdf-vm init
$(brew --prefix asdf)/asdf.sh

{{-         if lookPath "java" -}}
function java_asdf_link() {
    macOS_java_dir=/Library/Java/JavaVirtualMachines
    asdf_java_dir=$HOME/.asdf/installs/java/
    echo To create links on $macOS_java_dir this script needs Super User powers.

    if [ -d $asdf_java_dir ]; then
        installs=( $(find $asdf_java_dir -type d -depth 1 -print) )
        for install in ${installs[*]}; do
            found=$(find $install -name bin -print)
            if [ ! -z $found ]; then
                destination=$(dirname $found)
                source=${destination##*/}
                sudo ln -sf "$destination" "$macOS_java_dir/$source"
            fi
        done
    fi
}
{{-         end }}
{{-     end }}

{{-     if not .personal }}
alias zapfix="sudo launchctl load -w /Library/LaunchDaemons/com.zscaler.service.plist"
{{-     end }}

{{-     if lookPath "gsed" -}}
alias sed='gsed '
{{-     end }}

{{- end }}