# Basic Environment Variables
export OS= {{- .chezmoi.os }}
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

{{- "" }}
{{ if and (lookPath "code") (lookPath "micro") -}}
export EDITOR='micro'
export VISUAL='code --new-window --wait'
{{- else if lookPath "micro" }}
export EDITOR='micro'
export VISUAL='micro'
{{- end }}

{{- if lookPath "pwsh" -}}
# Powershell Config
export POWERSHELL_TELEMETRY_OPTOUT=1
{{- end }}

{{- if and (eq .chezmoi.os "darwin") -}}
{{-     if lookPath "brew" -}}
# Homebrew Folder
export HOMEBREW=$(brew --prefix)

# Stops Homebrew Telemetry
export HOMEBREW_NO_ANALYTICS=1
{{-     end }}

# Stops Catalina message about zsh
export BASH_SILENCE_DEPRECATION_WARNING=1

{{-     if lookPath "yubikey-agent" -}}
# Yubikey-Agent
export SSH_AUTH_SOCK="$(brew --prefix)/var/run/yubikey-agent.sock"
{{-     end }}

# Python Setup
export PYTHON_HOMES=($HOME/Library/Python/*)
export PYTHON_HOME=${PYTHON_HOMES[0]}
export PYTHONPATH=$HOME/.python
{{- end }}

{{- if eq .chezmoi.os "linux" }}
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
{{     if lookPath "yubikey-agent" -}}
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/yubikey-agent/yubikey-agent.sock"
{{-     end }}

{{- "" }}
{{     if lookPath "bcompare" -}}
export DIFFPROG='bcompare'
{{-     else if lookPath "delta" -}}
export DIFFPROG='delta --dark --line-numbers --side-by-side --no-gitconfig'
{{-     end }}

{{     if lookPath "asdf" -}}
if [ -f /opt/asdf-vm/asdf.sh ]; then
    export ASDF_DIR=/opt/asdf-vm
    export ASDF_CONFIG_FILE=$XDG_CONFIG_HOME/asdf/asdfrc
    export ASDF_DATA_DIR=$XDG_DATA_HOME/asdf
    source $ASDF_DIR/asdf.sh
fi
{{-     end }}
{{- end }}