{{- $packaging := .onepassword.items.packaging_token -}}
{{- $sourceKey := includeTemplate "onepassword_field_label.tmpl" (dict "item" $packaging.item "vault" $packaging.vault "label" $packaging.fields.source_key_label) -}}
{{- $sourceURL := includeTemplate "onepassword_field.tmpl" (dict "item" $packaging.item "vault" $packaging.vault "field_id" $packaging.fields.nuget_source_url) -}}
{{- $username := includeTemplate "onepassword_field.tmpl" (dict "item" $packaging.item "vault" $packaging.vault "field_id" $packaging.fields.username) -}}
{{- $password := includeTemplate "onepassword_field.tmpl" (dict "item" $packaging.item "vault" $packaging.vault "field_id" $packaging.fields.credential) -}}
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="{{ $sourceKey }}" value="{{ $sourceURL }}" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <{{ $sourceKey }}>
      <add key="Username" value="{{ $username }}" />
      <add key="ClearTextPassword" value="{{ $password }}" />
    </{{ $sourceKey }}>
  </packageSourceCredentials>
</configuration>
