{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $transient := false -}}{{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $isovalent := false -}}{{/* true if this machine should have Isovalent secrets */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* detect GitHub codespaces and VSCode remote containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $transient = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if not $transient -}}
{{-   if eq $hostname "cb-feeder" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   end -}}
{{- end -}}

{{- $difftool := "bc4" -}}{{/* using beyond compare for difftool */}}
remove = true
{{- if eq .chezmoi.os "windows" -}}
[cd]
    command = "powershell"
    args = ["-nologo"]
{{ end }}
[data]
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    transient = {{ $transient }}
    isovalent = {{ $isovalent }}
    personal = {{ $personal }}
{{- if eq .chezmoi.os "darwin" -}}
    appstore = {{ promptBool "Logged into App Store? (y/n)" }}
{{- end }}
[git]
    autoAdd = true
{{ if lookPath "bcompare" -}}
[diff]
    tool = "bc4"
[merge]
    tool = "bc4"
{{ else -}}
[diff]
    tool = "delta"
[merge]
    tool = "delta"
{{ end -}}
