{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $transient := false -}}{{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $isovalent := false -}}{{/* true if this machine should have Isovalent secrets */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* detect GitHub codespaces and VSCode remote containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $transient = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if not $transient -}}
{{-   if eq $hostname "cb-feeder" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   end -}}
{{- end -}}

remove = true
{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "powershell"
    args = ["-nologo"]
{{ end -}}
[data]
    onepassuser = {{ promptString "Enter your 1Password Username:" | quote }}
    {{ if eq .chezmoi.os "darwin" -}}
    appstore = {{ promptBool "Logged into App Store? (y/n)" }}
    {{ end -}}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }} {{/* the pipe quote is necessary for strings otherwise its interpreted as a command */}}
    isovalent = {{ $isovalent }}
    transient = {{ $transient }}
    personal = {{ $personal }}
[git]
    autoAdd = true
[diff]
    pager = "delta"
[merge]
    pager = "delta"