# Just use bashrc
[[ -f ~/.bashrc ]] && source ~/.bashrc

{{- if (eq .chezmoi.os "linux") }}
# Start gnome keyring
if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK
fi
{{- end }}
