{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

echo "Installing fig"

url=https://waitlist.withfig.com/download/1a8649b1-7a0d-49fe-86b4-2bddcb64c2c1?now=true

# Generate a random file name
tmp_file=/tmp/`openssl rand -base64 10 | tr -dc '[:alnum:]'`.dmg
apps_folder='/Applications'

# Download file
echo "Downloading $url..."
curl -# -L -o $tmp_file $url

echo "Mounting image..."
volume=`hdiutil mount $tmp_file | tail -n1 | perl -nle '/(\/Volumes\/[^ ]+)/; print $1'`

# Locate .app folder and move to /Applications
app=`find $volume/ -name '*.app' -maxdepth 1 -type d -print0`
echo "Copying `echo $app | awk -F/ '{print $NF}'` into $apps_folder..."
\cp -ir $app $apps_folder

# Unmount volume, delete temporary file
echo "Cleaning up..."
hdiutil unmount $volume -quiet
printf 'y' | rm $tmp_file

echo "Done!"

{{ end -}}