{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

taps=(
    homebrew/cask-versions
    homebrew/cask-fonts
    homebrew/cask-versions
)

formulae=(
    asdf
    bat
    curl
    dust
    exa
    fd
    fzf
    gh
    git-delta
    gnu-sed
    gpg
    httpie
    jq
    kubectl
    mas
    micro
    mosh
    ripgrep
    rsync
    tealdeer
    thefuck
    yubikey-agent
    zellij
    zoxide
)

casks=(
    1password
    1password-cli
    airfoil
    alfred
    bartender
    betterzip
    beyond-compare
    boop
    datagrip
    davmail
    docker
    dropbox
    eloston-chromium
    fantastical
    firefox-developer-edition
    font-jetbrains-mono-nerd-font
    intellij-idea
    iterm2
    jump
    kaleidoscope
    komet
    krisp
    luna-display
    macs-fan-control
    muzzle
    obsidian
    postman
    snagit
    soulver
    soundsource
    textexpander
    visual-studio-code
)

{{ if .personal }}
formulae+=(
    cointop
    imagemagick
)

casks+=(
    aerial
    balenaetcher
    default-folder-x
    disk-drill
    duet
    flume
    garagesale
    hazel
    iina
    istat-menus
    ivpn
    ledger-live
    mountain-duck
    pdf-expert
    permute
    protonvpn
    ricoh-theta
    sensei
    slack
    sonos
    switchresx
    vivaldi
    wezterm
    windscribe
)
{{ end }}

{{ if not .personal }}
taps+=(
    versent/homebrew-taps
)

formulae+=(
    awscli
    docker-credential-helper-ecr
    helm
    saml2aws
)
{{ end }}

# brew tap only takes up to two taps in one command. So doing a classic loop instead.
for tap in ${taps[@]};
do
    brew tap $tap
done

# Install brew formulas
brew install ${formulae[@]}

# Install brew casks. Need to do it this way because the jump formula conflicts with jump desktop. Will never understand why they did this.
brew install --cask ${casks[@]}

{{ end }}       
