{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

#taps=(
#)

formulae=(
    1password-cli
    asdf
    bat
    curl
	docker
    docker-compose
    dust
    exa
    fd
    fzf
    gh
    git-delta  
    httpie
    mas
    micro
    mosh
    ripgrep
    tealdeer
    thefuck
    yubikey-agent
    zellij
    zoxide
)

casks=(
    1password
    alfred
    betterzip
    duet
    eloston-chromium
    homebrew/cask-versions/firefox-developer-edition
    intellij-idea
    kaleidoscope
    komet
    krisp
    macs-fan-control
    muzzle
    postman
    slack
    snagit
    soulver
    soundsource
    sqlpro-studio
    textexpander
    visual-studio-code
    wezterm
)

{{ if .personal }}
formulae+=(
	cointop
    imagemagick
)

casks+=(
    aerial
    airfoil
    balenaetcher
    default-folder-x
    disk-drill
    flume
    garagesale
    hazel
    iina
    istat-menus
    ivpn
    ledger-live
    luna-display
    mountain-duck
    pdf-expert
    permute
    protonvpn
    ricoh-theta
    sensei
    sonos
    switchresx
    vivaldi
    windscribe
)
{{ end }}]


{{ if .difftool "Beyond Compare" }}
casks+=(
    beyond-compare
)
{{ else }}
casks+=(
    meld
)
{{ end }}

#brew tap ${taps[@]}
brew install ${formulae[@]}
brew install --cask ${casks[@])
{{ end }}       