{{- if (eq .chezmoi.os "darwin") -}}
{{-    if (.appstore) -}}
#!/bin/bash

set -eufo pipefail

ids=(
	1091189122 {{/* Bear */}}
    993487541  {{/* CARROT Weather */}}
    1171346381 {{/* Easy CSV Editor */}}
    567740330  {{/* JSON Editor */}}
    441258766  {{/* Magnet */}}
    1547147101 {{/* Open In */}}
    431748264  {{/* Pluralsight */}}
    1157491961 {{/* PLIST Editor */}}
    445189367  {{/* PopClip */}}
    904280696  {{/* Things */}}
)

{{       if .personal }}
ids+=(
    918858936  {{/* Airmail */}}
    1382386877 {{/* Gladys */}}
)
{{       end }}

mas install ${ids[@]}
{{-    end }}
{{ end }}