{{ $packageCatalog := includeTemplate "package_catalog_resolver.tmpl" . | mustFromJson -}}
{{ $activePackageNames := ($packageCatalog.active_packages | default (list)) -}}

{{ $aliases := merge (dict) .aliases.common -}}

{{ $aliases = (includeTemplate "rule_engine.tmpl" (dict
    "context" .
    "seed" $aliases
    "rules" .aliases.rules
    "valueKey" "values") | fromJson) -}}

{{ $aliasOwners := dict -}}
{{ range (keys $aliases | sortAlpha | uniq) -}}
{{   $_ := set $aliasOwners . "base" -}}
{{ end -}}

{{ range ($activePackageNames | sortAlpha | uniq) -}}
{{   $packageName := . -}}
{{   $templateName := printf "packages/%s/aliases.tmpl" $packageName -}}
{{   $sourcePath := joinPath $.chezmoi.sourceDir ".chezmoitemplates" $templateName -}}
{{   if stat $sourcePath -}}
{{     $packageData := includeTemplate $templateName $ | mustFromJson -}}
{{     $packageAliases := ($packageData.aliases | default (dict)) -}}
{{     range (keys $packageAliases | sortAlpha | uniq) -}}
{{       $key := . -}}
{{       $owner := (get $aliasOwners $key | default "") -}}
{{       if and (ne $owner "") (ne $owner "base") (ne $owner $packageName) -}}
{{         fail (printf "duplicate alias key %q from package %q already owned by %q" $key $packageName $owner) -}}
{{       end -}}
{{       $_ := set $aliasOwners $key $packageName -}}
{{       $_ := set $aliases $key (get $packageAliases $key) -}}
{{     end -}}
{{   end -}}
{{ end -}}

{{ if and (eq .chezmoi.os "linux") (lookPath "dbus-send") -}}
{{   $aliases = merge $aliases (dict
      "altt" "dbus-send --session --type=method_call --print-reply --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:\"global.display.get_tab_list(Meta.TabList.NORMAL_ALL, global.workspace_manager.get_active_workspace()).map(x => x.wm_class)\" | grep -Po \"\\[.*\\]\""
      "alttt" "dbus-send --print-reply --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:\"global.display.get_tab_list(Meta.TabList.NORMAL_ALL, null).filter(w => !w.is_skip_taskbar()).map(w => `${w.get_workspace().index()}. ${w.title}`)\"|sed -n \"/string/s/\"\\|\\(\",\"\\)/\\n/gp\"|sed \"/^ \\|^\\[\\|^\\]/d\"") -}}
{{ end -}}

{{ range (keys $aliases | sortAlpha | uniq) -}}
alias {{ . }}='{{ get $aliases . }}'
{{ end -}}
