{{ $shellManifest := includeTemplate "shell_manifest_renderer.tmpl" . | mustFromJson -}}
{{ $aliases := merge (dict) ($shellManifest.aliases | default (dict)) -}}

{{ range (keys $aliases | sortAlpha | uniq) -}}
alias {{ . }}='{{ get $aliases . }}'
{{ end -}}
