{{ $exportsData := (get . "exports" | default (dict)) -}}
{{ $exportCommon := (get $exportsData "common" | default (dict)) -}}
{{ $exportRules := (get $exportsData "rules" | default (list)) -}}
{{ $exports := merge (dict) $exportCommon -}}
{{ $shellManifest := includeTemplate "shell_manifest_renderer.tmpl" . | mustFromJson -}}
{{ $exports = merge $exports ($shellManifest.exports | default (dict)) -}}

{{ $exports = (includeTemplate "rule_engine.tmpl" (dict
    "context" .
    "seed" $exports
    "rules" $exportRules
    "valueKey" "values") | fromJson) -}}

{{ range (keys $exports | sortAlpha | uniq) -}}
export {{ . }}={{ get $exports . | quote }}
{{ end -}}
