{{/* z4h source --compile $DOTFILES/functions/bash_path_funcs/colon2line
z4h source --compile $DOTFILES/functions/bash_path_funcs/space2line
z4h source --compile $DOTFILES/functions/bash_path_funcs/Usage
z4h source --compile $DOTFILES/functions/bash_path_funcs/options
z4h source --compile $DOTFILES/functions/bash_path_funcs/makepath
z4h source --compile $DOTFILES/functions/bash_path_funcs/addpath
z4h source --compile $DOTFILES/functions/bash_path_funcs/delpath
z4h source --compile $DOTFILES/functions/bash_path_funcs/listpath
z4h source --compile $DOTFILES/functions/bash_path_funcs/uniqpath
z4h source --compile $DOTFILES/functions/bash_path_funcs/edpath
z4h source --compile $DOTFILES/functions/bash_path_funcs/realpath_filter
z4h source --compile $DOTFILES/functions/dmginstall */ -}}

{{- $shellManifest := includeTemplate "shell_manifest_renderer.tmpl" . | mustFromJson -}}
{{ range ($shellManifest.functions | default (list)) }}
{{ . }}

{{ end -}}
