{{- $vault := .vault -}}
{{- $fieldLabel := .label -}}
{{- if eq $vault "dev" -}}
{{- $vault = "ylehyg24v4ktnhshngeyvl4fye" -}}
{{- else if eq $vault "work" -}}
{{- $vault = "ydxim6il3bd3reztx5kioejcmu" -}}
{{- end -}}
{{- $item := onepassword .item $vault -}}
{{- $value := "" -}}
{{- range $item.fields -}}
{{- if eq ((get . "label") | default "") $fieldLabel -}}
{{- $value = ((get . "value") | default "") -}}
{{- end -}}
{{- end -}}
{{- $value -}}
