[".config/bat/themes/Catppuccin-frappe.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/Catppuccin-frappe.tmTheme"
    refreshPeriod = "168h"
[".config/delta/themes.gitconfig"]
    type = "file"
    url = "https://raw.githubusercontent.com/dandavison/delta/master/themes.gitconfig"
    refreshPeriod = "720h"
[".config/micro/colorschemes/catppuchin-frappe.micro"]
    type = "file"
    url = "https://github.com/catppuccin/micro/raw/main/src/catppuccin-frappe.micro"
    refreshPeriod = "168h"
[".config/zsh/catppuccin_macchiato-zsh-syntax-highlighting.zsh"]
    type = "file"
    url = "https://github.com/catppuccin/zsh-syntax-highlighting/raw/main/themes/catppuccin_macchiato-zsh-syntax-highlighting.zsh"
    refreshPeriod = "168h"
{{ if and (stat "/Applications/OpenIn.app") (not (stat ("/Applications/OpenIn Helper.app"))) -}}
["Downloads/Helpers/OpenIn Helper 4.1.2.dmg"]
    type = "file"
    url = "https://loshadki.app/openin-helper4/OpenIn%20Helper%204.1.3.dmg"
    refreshPeriod = "720h"
{{ end -}}
{{ if not (stat "/Applications/Luna Display.app") -}}
["Downloads/Helpers/LunaDisplay-5.3.2.4766.dmg"]
    type = "file"
    url = "https://downloads.astropad.com/luna/mac/latest"
    refreshPeriod = "720h"
{{ end -}}
["Library/Fonts/"]
    type = "archive"
    exact = true
    url = {{- (index (onepassword "sfqa4gvnfffalon4fkersaxaoa").urls 1).href | quote }}
    include = ['**/*.otf']