{{ template "exports.tmpl" . }}
{{/* CD preferences */ -}}
shopt -s cdable_vars
shopt -s cdspell
shopt -s direxpand dirspell
shopt -s globstar
{{/* History preferences */ -}}
shopt -s histappend
shopt -s histreedit
shopt -s histverify
HISTCONTROL='ignoreboth':erasedups
HISTIGNORE=?:??
HISTFILESIZE=50000
HISTSIZE=50000
PROMPT_COMMAND="history -a;history -c;history -r; $PROMPT_COMMAND"
