#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "homebrew/bundle"
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "homebrew/command-not-found"
    "homebrew/services" -}}

{{ $brews := list
    "whalebrew" -}}

{{ $casks := list
    "1password"
    "1password-cli"
    "alfred"
    "bartender"
    "betterzip"
    "boop"
    "brave-browser"
    "default-folder-x"
    "docker"
    "dropbox"
    "firefox-developer-edition"
    "font-monaspace"
    "font-new-york"
    "font-sf-compact"
    "font-sf-mono"
    "font-sf-mono-for-powerline"
    "font-sf-pro"
    "font-sn-pro"
    "hazel"
    "heynote"
    "iina"
    "iterm2"
    "itsycal"
    "komet"
    "macs-fan-control"
    "popclip"
    "rio"
    "soundsource"
    "spotify"
    "superkey"
    "suspicious-package"
    "swish"
    "visual-studio-code"
    "zed" -}}

{{- if .personal }}
{{  $casks = concat $casks (list
    "istat-menus"
    "ivpn"
    "jump"
    "ledger-live"
    "obsidian"
    "ricoh-theta"
    "sensei"
    "soulver"
    "windscribe") -}}
{{ end -}}

{{ if not .personal -}}
{{  $brews = concat $brews (list
    "awscli"
    "beyond-compare"
    "docker-credential-helper-ecr"
    "docker-machine-parallels"
    "dotnet"
    "ffmpeg"
    "helm"
    "openjdk@11"
    "kubectx"
    "kubernetes-cli"
    "lastpass-cli"
    "saml2aws"
    "tilt") -}}

{{  $casks = concat $casks (list
    "lastpass"
    "parallels") -}}
{{ end -}}

{{ $mas := dict
    "CARROT Weather" ", id: 993487541"
    "Easy CSV Editor" ", id: 1171346381"
    "JSON Editor" ", id: 567740330"
    "OpenIn" ", id: 1643649331"
    "PLIST Editor" ", id: 1157491961" -}}

{{ $args := dict
    "docker-credential-helper-ecr" ", link: false"
    "kubernetes-cli" ", link: false"
    "yubikey-agent" ", restart_service: true"
    "saml2aws" "" -}}

brew bundle --no-lock --force --zap --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"{{get $args . }}
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (keys $mas | sortAlpha | uniq) -}}
mas "{{ . }}"{{get $mas  . }}
{{ end -}}
EOF