#!/bin/bash

set -eufo pipefail

{{ includeTemplate "sudo_helpers.tmpl" . }}

trap stop_sudo_keepalive EXIT

{{ if and (stat "/Applications/iTerm.app")
(and
(not (stat (expandenv "$HOME/.iterm2_shell_integration.zsh")))
(not (stat (expandenv "$HOME/.iterm2_shell_integration.bash")))) -}}
# iTerm2 Shell Integration
curl --location https://iterm2.com/shell_integration/install_shell_integration_and_utilities.sh | bash
{{ end -}}

{{ if lookPath "tldr" -}}
# Update tldr db
tldr --update
{{ end -}}

{{ if lookPath "hammerspoon" -}}
# Use XDG-style Hammerspoon config path
defaults write org.hammerspoon.Hammerspoon MJConfigFile "$HOME/.config/hammerspoon/init.lua"
{{ end -}}

{{ if lookPath "ya" -}}
if [ ! -d "$HOME/.config/yazi/flavors/catppuccin-mocha.yazi" ]; then
  ya pkg add yazi-rs/flavors:catppuccin-mocha
fi
{{ end -}}

{{ if not .personal -}}
{{ $workDomain := .onepassword.items.work_domain -}}
{{ $corpLocalDomain := includeTemplate "onepassword_url_label.tmpl" (dict "item" $workDomain.item "vault" $workDomain.vault "label" "corp_local_domain") -}}
{{ if ne $corpLocalDomain "" -}}
if ! grep -qE '^[[:space:]]*127\.0\.0\.1[[:space:]]+{{ regexQuoteMeta $corpLocalDomain }}([[:space:]]|$)' /etc/hosts; then
  printf '%s\n' '127.0.0.1 {{ $corpLocalDomain }}' | with_sudo tee -a /etc/hosts >/dev/null
fi
{{ end -}}
{{ end -}}



{{ if not .personal -}}
{{  if lookPath "java" -}}
# Setup Java for Homebrew
with_sudo ln -sfn /opt/homebrew/opt/openjdk@11/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk-11.jdk
{{  end -}}
{{ end -}}
