#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "homebrew/bundle"
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "homebrew/command-not-found"
    "homebrew/services" -}}

{{ $brews := list
    "age"
    "age-plugin-yubikey"
    "bat"
    "bat-extras"
    "chezmoi"
    "curl"
    "dive"
    "duti"
    "eza"
    "fd"
    "folderify"
    "fzf"
    "gdu"
    "git"
    "git-delta"
    "gnu-sed"
    "gnupg"
    "httpie"
    "jq"
    "launch"
    "less"
    "libheif"
    "mas"
    "micro"
    "mosh"
    "php"
    "procs"
    "p7zip"
    "rem"
    "ripgrep"
    "rsync"
    "shellcheck"
    "tailscale"
    "tealdeer"
    "thefuck"
    "trash"
    "volta"
    "whalebrew"
    "xdg-ninja"
    "zellij"
    "zoxide" -}}

{{ $casks := list
    "1password"
    "1password-cli"
    "airfoil"
    "alfred"
    "arc"
    "bartender"
    "betterzip"
    "beyond-compare"
    "boop"
    "brave-browser"
    "commandq"
    "dash"
    "docker"
    "dropbox"
    "firefox-developer-edition"
    "font-new-york"
    "font-sf-compact"
    "font-sf-mono"
    "font-sf-mono-for-powerline"
    "font-sf-pro"
    "iterm2"
    "itsycal"
    "jetbrains-toolbox"
    "karabiner-elements"
    "komet"
    "macs-fan-control"
    "muzzle"
    "soundsource"
    "spotify"
    "suspicious-package"
    "swish"
    "visual-studio-code" -}}

{{ $mas := dict
    "1Password for Safari" ", id: 1569813296"
    "Amphetamine" ", id: 937984704"
    "CARROT Weather" ", id: 993487541"
    "Charmstone" ", id: 1563735522"
    "Easy CSV Editor" ", id: 1171346381"
    "Glance" ", id: 1513574319"
    "JSON Editor" ", id: 567740330"
    "MenuMate" ", id: 518594271"
    "OpenIn" ", id: 1643649331"
    "PLIST Editor" ", id: 1157491961"
    "PopClip" ", id: 445189367"
    "Service Station" ", id: 1503136033"
    "Xcode" ", id: 497799835" -}}

{{- if .personal }}
{{  $brews = concat $brews (list
    "gh"
    "imagemagick"
    "mkcert") -}}

{{  $casks = concat $casks (list
    "aerial"
    "balenaetcher"
    "default-folder-x"
    "devonthink"
    "devtoys"
    "disk-drill"
    "duet"
    "flume"
    "garagesale"
    "hazel"
    "iina"
    "istat-menus"
    "ivpn"
    "jump"
    "ledger-live"
    "mountain-duck"
    "obsidian"
    "parsec"
    "permute"
    "ricoh-theta"
    "sensei"
    "sonos"
    "soulver"
    "switchresx"
    "textexpander"
    "vivaldi"
    "wezterm"
    "windscribe") -}}

{{ $mas_personal := dict
    "Affinity Photo" ", id: 824183456"
    "Brother iPrint&Scan" ", id: 1193539993"
    "Brother P-touch Editor" ", id: 1453365242"
    "Gladys" ", id: 1382386877"
    "Paprika Recipe Manager 3" ", id: 1303222628"
    "Serial" ", id: 877615577"
    "Things" ", id: 904280696"
    "ToothFairy" ", id: 1191449274"
    "WiFi Explorer" ", id: 494803304"
    "WiFi Signal" ", id: 525912054"
    "WireGuard" ", id: 1451685025" -}}

{{  $mas = merge $mas $mas_personal}}
{{ end -}}

{{ if not .personal -}}
{{  $brews = concat $brews (list
    "awscli"
    "docker-credential-helper-ecr"
    "docker-machine-parallels"
    "dotnet@6"
    "helm"
    "kubectx"
    "kubernetes-cli"
    "lastpass-cli"
    "saml2aws"
    "tilt") -}}

{{  $casks = concat $casks (list
    "parallels") -}}
{{ end -}}

{{  $casks = concat $casks (list
    "lastpass") -}}

{{ $args := dict
    "docker-credential-helper-ecr" ", link: false"
    "kubernetes-cli" ", link: false"
    "yubikey-agent" ", restart_service: true"
    "saml2aws" "" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"{{get $args . }}
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (keys $mas | sortAlpha | uniq) -}}
mas "{{ . }}"{{get $mas  . }}
{{ end -}}
EOF