<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tb3zIcSaO3Rxegzxvu9DhU5Boc5sFwzFELnLcXndik/czAnkJIVJi+Wvr1xmsbaGnViq
	frvoIg4oskcvozvlnqHZgooFf6Qe0EjMzj1vCJ49dF2EUBjbPSdEbnYIjAhaDxyxRYV/
	Mtkz42xvGpH8ox9JaqUY8msB520d3KBCKGU=
	</data>
</dict>
</plist>
