{{- $elem := (.element | default (dict)) -}}
{{- $ctx := .context -}}
{{- $itemRef := (get $elem "item_ref" | default "") -}}
{{- if eq $itemRef "" -}}
  {{- fail (printf "resolver onepassword requires item_ref for key %q" (.key | default "")) -}}
{{- end -}}

{{- $itemCfg := (get $ctx.onepassword.items $itemRef | default (dict)) -}}
{{- $itemID := (get $itemCfg "item" | default "") -}}
{{- $vault := (get $itemCfg "vault" | default "") -}}
{{- $fields := (get $itemCfg "fields" | default (dict)) -}}
{{- if or (eq $itemID "") (eq $vault "") -}}
  {{- fail (printf "resolver onepassword could not load item_ref %q for key %q" $itemRef (.key | default "")) -}}
{{- end -}}

{{- $fieldRef := (get $elem "field_ref" | default "") -}}
{{- if ne $fieldRef "" -}}
  {{- $fieldID := (get $fields $fieldRef | default "") -}}
  {{- if eq $fieldID "" -}}
    {{- fail (printf "resolver onepassword missing field_ref %q on item_ref %q for key %q" $fieldRef $itemRef (.key | default "")) -}}
  {{- end -}}
  {{- includeTemplate "onepassword_field.tmpl" (dict "item" $itemID "vault" $vault "field_id" $fieldID) | default "" -}}
{{- else -}}
  {{- $jsonObject := (get $elem "json_object" | default (dict)) -}}
  {{- if not (kindIs "map" $jsonObject) -}}
    {{- fail (printf "resolver onepassword json_object must be a table for key %q" (.key | default "")) -}}
  {{- end -}}

  {{- $obj := dict -}}
  {{- $hasEmpty := false -}}
  {{- range (keys $jsonObject | sortAlpha | uniq) -}}
    {{- $outKey := . -}}
    {{- $fieldName := (get $jsonObject $outKey | default "") -}}
    {{- $fieldID := (get $fields $fieldName | default "") -}}
    {{- if eq $fieldID "" -}}
      {{- $hasEmpty = true -}}
      {{- continue -}}
    {{- end -}}
    {{- $value := (includeTemplate "onepassword_field.tmpl" (dict "item" $itemID "vault" $vault "field_id" $fieldID) | default "") -}}
    {{- if eq $value "" -}}
      {{- $hasEmpty = true -}}
    {{- end -}}
    {{- $_ := set $obj $outKey $value -}}
  {{- end -}}

  {{- if $hasEmpty -}}
  {{- else -}}
    {{- $arrayKey := (get $elem "json_array_key" | default "") -}}
    {{- if ne $arrayKey "" -}}
      {{- dict $arrayKey (list $obj) | toJson -}}
    {{- else -}}
      {{- $obj | toJson -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
