<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pDxKeWrTcrgcrZX0Ir0AOtzFrTvA4m+Vs8VFv06W22yJ4tVLZJWivzLhx+8/bZX8EH7Y
	D4RDEb3rJlBNu7OigUKiRz7NwOhf/vP1ZCV6/i/ZH09F0PHnKPOx15K+TT6sE/juDLjv
	y7TeLSF3UjZ03hxozscL4YuwYv3W7KN2LlE=
	</data>
</dict>
</plist>
