#!/usr/bin/env bash
set -euo pipefail

current_file="$(mktemp)"
trap 'rm -f "${current_file}"' EXIT

cat >"${current_file}"

if [[ -s "${current_file}" ]]; then
  cat "${current_file}"
  exit 0
fi

cat <<'EOF'
[default]
aws_access_key_id        = {{ includeTemplate "onepassword_field_label.tmpl" (dict "item" .onepassword.items.aws_credentials.item "vault" .onepassword.items.aws_credentials.vault "label" .onepassword.items.aws_credentials.fields.access_key_id_label) }}
aws_secret_access_key    = {{ includeTemplate "onepassword_field_label.tmpl" (dict "item" .onepassword.items.aws_credentials.item "vault" .onepassword.items.aws_credentials.vault "label" .onepassword.items.aws_credentials.fields.secret_access_key_label) }}
EOF
