{{- $awsCredentials := .onepassword.items.aws_credentials -}}

[default]
aws_access_key_id        = {{ includeTemplate "onepassword_field_label.tmpl" (dict "item" $awsCredentials.item "vault" $awsCredentials.vault "label" $awsCredentials.fields.access_key_id_label) }}
aws_secret_access_key    = {{ includeTemplate "onepassword_field_label.tmpl" (dict "item" $awsCredentials.item "vault" $awsCredentials.vault "label" $awsCredentials.fields.secret_access_key_label) }}
