[tools]
bun = "latest"
{{- if not .personal }}
go = "latest"
node = "24"
"npm:@wallabyjs/cli" = "latest"
pnpm = "10"
{{- end }}

[settings]
npm.package_manager = "bun"
idiomatic_version_file_enable_tools = ["node", "npm", "pnpm", "bun"{{ if not .personal }}, "dotnet"{{ end }}]
{{- if not .personal }}
dotnet.cli_telemetry_optout = true
{{- end }}
