{{- $user_cache_dir := (ternary "${HOME}/Library/Caches" "${HOME}/.cache" (eq .chezmoi.os "darwin")) -}}
{{- $user_data_dir := (ternary "${HOME}/Library/Application Support" "${HOME}/.local/share" (eq .chezmoi.os "darwin")) -}}
{{- $user_log_dir := (ternary "${HOME}/Library/Logs" "${HOME}/.local/state" (eq .chezmoi.os "darwin")) -}}
export GPG_TTY="$TTY"
export XDG_CACHE_HOME={{ $user_cache_dir | quote }}
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME={{ $user_data_dir | quote }}
export XDG_SHARE_HOME="${HOME}/.local/share"
{{- if eq .chezmoi.os "darwin" }}
export XDG_RUNTIME_DIR=""
{{- else }}
export XDG_RUNTIME_DIR="/run/user/${UID}"
{{- end }}
export XDG_STATE_HOME={{ $user_log_dir | quote }}
{{ template "exports.tmpl" . -}}
