<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Mindbody" value="https://mindbody.pkgs.visualstudio.com/_packaging/Mindbody-Nuget/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Mindbody>
      <add key="Username" value="derick.rodriguez@mindbodyonline.com" />
      <add key="ClearTextPassword" value="t3w4dlexqlmyhabaoq4odbqfhxjia5kjygmjgjkzpmf4hi24jaka" />
    </Mindbody>
  </packageSourceCredentials>
</configuration>
