{{- if and (eq .chezmoi.os "darwin") (stat "/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh") -}}
#!/bin/bash

{{- if not (lookPath "nix-build") }}
{{     if stat (joinPath (env "_Z4H_TMUX_CMD") "../../../z4h.zsh" | clean) }}
z4h source --compile '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
{{-     else }}
. '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
{{-     end }}
{{- end }}

nix-build https://github.com/LnL7/nix-darwin/archive/master.tar.gz -A installer

./result/bin/darwin-installer

eval zsh -l

{{- end -}}