<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	d56HqRX72wfnnuZDW3ZbE+aHQPLunPlqpndDiYL6hkQ5d9X7PjZDjegd4fS7bEj37qP+
	5S/OMDCJeSAIi3eF/vEPDIwJPeiyAyZEnY0x6xe0gpUbCAHjyHcCl68MfkhlXFPNIrAh
	cJE8DXCKA1Y3/KQKBmy1VuJSamDVmV347yU=
	</data>
</dict>
</plist>
