export DOTFILES= {{- .chezmoi.sourceDir }}
export OS= {{- .chezmoi.os }}

{{- if eq (env "SHELL" | trunc -3) "bash" }}
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced
{{- end }}

{{- if lookPath "micro" }}
export EDITOR='micro'
{{-     if lookPath "code" }}
export VISUAL='code --new-window'
{{-      else }}
export VISUAL='micro'
{{-      end }}
{{- else if lookPath "nano" }}
export EDITOR='nano'
export VISUAL='nano'
{{- else }}
export EDITOR='vi'
export VISUAL='vi'
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export BASH_SILENCE_DEPRECATION_WARNING=1 {{/* Stops Catalina message about zsh */}}

{{-     if lookPath "brew" }}
export HOMEBREW=$(brew --prefix) {{/* Homebrew prefix */}}
export HOMEBREW_NO_ANALYTICS=1 {{/* Stops Homebrew Telemetry */}}
{{-     end }}

{{-     if lookPath "yubikey-agent" }}
export SSH_AUTH_SOCK="$(brew --prefix)/var/run/yubikey-agent.sock"
{{-    end }}

{{-     if stat "$HOME/Library/Python/" }}
export PYTHON_HOMES=($HOME/Library/Python/*)
export PYTHON_HOME=${PYTHON_HOMES[0]}
export PYTHONPATH=$HOME/.python
{{-     end }}

{{-      if not .personal }}
{{- /* AWS Arcus setup */}}
export TILT_NAMESPACE=derick-rodriguez
export AWS_SDK_LOAD_CONFIG=1
{{-     end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
{{-     if lookPath "yubikey-agent" }}
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/yubikey-agent/yubikey-agent.sock"
export FREETYPE_PROPERTIES="cff:no-stem-darkening=0"
{{-     end }}

{{-     if lookPath "bcompare" }}
export DIFFPROG='bcompare'
{{-     else if lookPath "delta" }}
export DIFFPROG='delta --dark --line-numbers --side-by-side --no-gitconfig'
{{-     end }}
{{- end }}

{{- if lookPath "pwsh" }}
export POWERSHELL_TELEMETRY_OPTOUT=1
{{- end }}