{{- if eq .shell "bash" }}
{{-     if eq .chezmoi.os "darwin" }}
{{-         if lookPath "brew" }}
addpath $HOME/Homebrew/bin/
addpath $HOME/Homebrew/sbin/
{{-         end }}
{{-          if lookPath "gsed" }}
addpath -f /usr/local/opt/gnu-sed/libexec/gnubin {{/* Use gsed instead of built-in */}}
{{-         end }}
{{-     end }}
{{- end }}

{{- if eq .shell "zsh" }}
{{-      if lookPath "brew" }}
path=($HOME/Homebrew/bin/ $HOME/Homebrew/sbin/ $path)
{{-     end }}
{{-      if lookPath "gsed" }}
path=(/usr/local/opt/gnu-sed/libexec/gnubin $path)
{{-     end }}
{{- end }}