{{- $servers := merge (dict) .mcp.shared.servers -}}
{{- $githubItem := .onepassword.items.github -}}
{{- $workDomainItem := .onepassword.items.work_domain -}}
{{- if .personal -}}
{{- $servers = dict "github" (get $servers "github") -}}
{{- end -}}
{{- $github := merge (dict) (get $servers "github") -}}
{{- $_ := set $github "headers" (dict
  "Authorization" (printf "Bearer %s" (includeTemplate "onepassword_field.tmpl" (dict "item" $githubItem.item "vault" $githubItem.vault "field_id" $githubItem.fields.github_mcp_pat)))) -}}
{{- $_ := set $servers "github" $github -}}
{{- if hasKey $servers "launchdarkly" -}}
{{- $launchdarkly := merge (dict) (get $servers "launchdarkly") -}}
{{- $ldArgs := concat ((get $launchdarkly "args") | default (list)) (list (includeTemplate "onepassword_field_label.tmpl" (dict "item" $workDomainItem.item "vault" $workDomainItem.vault "label" $workDomainItem.fields.launchdarkly_reader_token_label))) -}}
{{- $_ := set $launchdarkly "args" $ldArgs -}}
{{- $_ := set $servers "launchdarkly" $launchdarkly -}}
{{- end -}}

{{- $opencodeMcp := dict -}}
{{- range $name, $server := $servers -}}
{{- if eq $server.type "http" -}}
{{- $entry := dict "type" "remote" "url" $server.url -}}
{{- if hasKey $server "headers" -}}
{{- $entry = merge $entry (dict "headers" $server.headers) -}}
{{- end -}}
{{- $_ := set $opencodeMcp $name $entry -}}
{{- else if eq $server.type "stdio" -}}
{{- $cmd := concat (list $server.command) $server.args -}}
{{- $entry := dict "type" "local" "command" $cmd "environment" ((get $server "env") | default (dict)) -}}
{{- $_ := set $opencodeMcp $name $entry -}}
{{- end -}}
{{- end -}}
{{ $opencodeMcp | toPrettyJson }}
