{{- $servers := merge (dict) .mcp.shared.servers -}}
{{- if .personal -}}
{{- $servers = dict "github" (get $servers "github") -}}
{{- end -}}
{{- $github := merge (dict) (get $servers "github") -}}
{{- $_ := set $github "headers" (dict
  "Authorization" (printf "Bearer %s" ((index (onepassword "pwe3o2nzdxbccxtx5uyueegqdu" "ylehyg24v4ktnhshngeyvl4fye").fields 10).value))) -}}
{{- $_ := set $servers "github" $github -}}
{{- if hasKey $servers "launchdarkly" -}}
{{- $launchdarkly := merge (dict) (get $servers "launchdarkly") -}}
{{- $ldArgs := concat ((get $launchdarkly "args") | default (list)) (list ((index (onepassword "wuo6jezj45c2bdzyttgfvxygzu" "ydxim6il3bd3reztx5kioejcmu").fields 17).value)) -}}
{{- $_ := set $launchdarkly "args" $ldArgs -}}
{{- $_ := set $servers "launchdarkly" $launchdarkly -}}
{{- end -}}

{{- $opencodeMcp := dict -}}
{{- range $name, $server := $servers -}}
{{- if eq $server.type "http" -}}
{{- $entry := dict "type" "remote" "url" $server.url -}}
{{- if hasKey $server "headers" -}}
{{- $entry = merge $entry (dict "headers" $server.headers) -}}
{{- end -}}
{{- $_ := set $opencodeMcp $name $entry -}}
{{- else if eq $server.type "stdio" -}}
{{- $cmd := concat (list $server.command) $server.args -}}
{{- $entry := dict "type" "local" "command" $cmd "environment" ((get $server "env") | default (dict)) -}}
{{- $_ := set $opencodeMcp $name $entry -}}
{{- end -}}
{{- end -}}
{{ $opencodeMcp | toPrettyJson }}
