<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LY/wikRmFDLLM1R+bXagqk8p86zD5hoe43fcFEE0opgNo7EKu+0+s0yYH6DfbYbb72w9
	eHiJbJDqhoJ8VU6sQ789kb07ygMJSq7z1Gq4AEV9x4DZPBZLGSkfXeOfCqAKcsNy4B0k
	47z1E4XFl+BenZWXZh5pqENSntqtJEdnMyI=
	</data>
</dict>
</plist>
