prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm
tmp=${XDG_RUNTIME_DIR}/npm
init-module=${XDG_CONFIG_HOME}/npm/config/npm-init.js
; begin auth token
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}registry/:username={{- (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 1).value }}
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}registry/:_password={{- b64enc (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 2).value }}
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}registry/:email={{- (index (onepassword "wuo6jezj45c2bdzyttgfvxygzu" "ydxim6il3bd3reztx5kioejcmu").fields 0).value }}
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}:username={{- (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 1).value }}
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}:_password={{- b64enc (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 2).value }}
{{ (index (onepassword "4itl7orehcbljin364jxdxft5e" "ydxim6il3bd3reztx5kioejcmu").fields 8).value -}}:email={{- (index (onepassword "wuo6jezj45c2bdzyttgfvxygzu" "ydxim6il3bd3reztx5kioejcmu").fields 0).value }}
