<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	rOhBHjd1+78YcZw6UjdishXR88kEAZ/JN+W1Mkw0A8KAHfHQ+Hq2XXK5L8qXIEYORLxE
	22bO0PMip2eJroJGgPcWKdKo06+zlf3YpkfwIgjW6xjqXjjPGJ7IGA1eF4273jtRe0fp
	kffRaMYvokAbGGRx/ZNfWbT1nwxZ6C5jDHc=
	</data>
</dict>
</plist>
