<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fr93uTarbFeLNYul0EYWoZZxqDVc6AN1SH8YlOnzhrVXlzdkXVDI191WP++ABhhbGFNe
	sIXBhI3Zbq5JtnujJuK9YQdG2DtpXBUgg3dRj0l/MryhpXVGzjx3fAJ2BAQ0wtqmxQ8O
	QZsMFuG5v4qyVZFyjGO0McOF26fWQ9hYIMc=
	</data>
</dict>
</plist>
